@font-face {
  font-family: "MuseoSansCyrl300" sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/MuseoSansCyrl300.eot'),
  url('./fonts/MuseoSansCyrl300.woff'),
  url('./fonts/MuseoSansCyrl300.ttf');
}

@font-face {
  font-family: "PTSerifBold" sans-serif;
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/PTSerifBold.eot'),
  url('./fonts/PTSerifBold.woff'),
  url('./fonts/PTSerifBold.ttf');
}
