@font-face {
  font-family: Museo, sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/MuseoSansCyrl300.eot'),
  url('./fonts/MuseoSansCyrl300.woff'),
  url('./fonts/MuseoSansCyrl300.ttf');
}
